@import './variables';

// theme chalk asignments
$--color-primary: $primary;
$--color-success: $success;
$--color-warning: $warning;
$--color-danger: $danger;
$--color-info: $info;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// ag grid
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

// theme chalk
@import "~element-ui/packages/theme-chalk/src/button";
@import "~element-ui/packages/theme-chalk/src/message";
@import "~element-ui/packages/theme-chalk/src/input";
@import "~element-ui/packages/theme-chalk/src/select";
@import "~element-ui/packages/theme-chalk/src/select-dropdown";
@import "~element-ui/packages/theme-chalk/src/option-group";
@import "~element-ui/packages/theme-chalk/src/icon";
@import "~element-ui/packages/theme-chalk/src/form";
@import "~element-ui/packages/theme-chalk/src/table";
@import "~element-ui/packages/theme-chalk/src/dialog";
@import "~element-ui/packages/theme-chalk/src/loading";
@import "~element-ui/packages/theme-chalk/src/pagination";

// custom
@import './transitions.scss';
@import './global.scss';
@import './widget.scss';