
/* theme color */
$primary: #1890ff;
$success: #13ce66;
$warning: #FFBA00;
$danger: #ff4949;
$info: #1E1E1E;

/* neutrals */
$n1: #F5F7FA;
$n2: #EDF1F5;
$n3: #D4DDE8;
$n4: #617591;
$n5: #4e616c;
$n6: #33383D;

/* text */
$text: $n6;
$text-light: $n4;
